{% extends "base.html" %}
{% load static %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
  <h1>Дорбро пожаловать в мои "чертоги" </h1>
  <br>
  <p>
    <img src="{% static 'img/stakan.jpeg' %}"
  </p>
  <br>
  <p>
    Меня зовут Никитина Вероника. На данный момент обучаюсь на курсе Python-разработчик
    от Яндекс Практикума. 
  <br>
    Вот мой обычный стакан для поддержания водного баланса за работой
  <br> 
    Картинки, блоки, элементы бустрап. А может быть потом, просто напишу несколько абзацев текста. 
  </p>
{% endblock %}